dl.tabs.contained
  dd
    a(href="#form1", class="active") Crear o Editar Post
  dd
    a(href="#rpreview",id="previewTrigger") Preview
  dd
    a(href="#form2") Configurar Cuenta
  - if (session.user.level === 4 ){
    dd
      a(href="#addUser") Add user
  - } 
ul.tabs-content.contained
  li.active#form1
    h3 Crear un nuevo post
    form(action="/b/new",method="post",id="post",class="nice")
      input(type="hidden",value=new Date(), name="fecha")
      legend  Nuevo tema
      p
        label(for="title") Titulo
        input(type="text",class="input-text",name="titulo",placeholder="Ingresa el titulo del post")
      p 
        label(for="tags") Tags
        input(type="text",class="input-text",name="tags",placeholder="tags separadas por comas")
      p
        label(for="content") Contenido
        textarea(style="margin-left: 0px; margin-right: 268px; width: 100%; margin-top: -9px; margin-bottom: 9px; height: 349px",value="",id="post",name="contenido",class="input-text") **Recuerda**, si quieres, puedes utilizar markdown (default), _si es html_ empieza la primer linea con <html> para reconocer que es html (no Doctype o algo)
      button(type="submit",value="Guardar",class="alter radius button") Guardar      
      button(type="cancel",value="Cancelar",class="white radius button") Cancelar
  li#form2
    form(action="/u/update",method="post",id="updateUser",class="nice")
      legend  Actualizar Usuario
      p
        label(for="password") Password Actual (para cualquier acción debes ingresar tu password actual)
        input(type="password",class="input-text",name="password",placeholder="tu password actual")
      p
        label(for="username") Nombre de Usuario:
        input(type="text",class="input-text",name="username",value=session.user.username)
      p
        label(for="name") Nombre :
        input(type="text",class="input-text",name="name",value=session.user.name)
      p
        label(for="npassword") Password Nuevo
        input(type="password",class="input-text",name="nopassword",placeholder="tu nuevo password")
      p
        label(for="npassword") Password Nuevo (otra vez)
        input(type="password",class="input-text",name="nopassword",placeholder="tu nuevo password")
      p
        label(for="contact") Contacto:
        input(type="url",class="input-text",name="contact",placeholder="tu nuevo contacto", value=session.user.contact)
      p
        label(for="email") email
        input(type="email",class="input-text",name="email",placeholder="tu email", value=session.user.email)
      p
        label(for="bio") Bio de Usuario:
        input(type="text",class="input-text",name="bio",value=session.user.bio)
      button(type="submit",value="Guardar",class="alter button radius") Actualizar
      button(type="cancel",value="Cancelar",class="white button radius") Cancelar
  li#rpreview Preview
  li#addUser Agregar Usuario
    form(method="POST",action="/u/new",id="formUser",class="nice")
      legend Crear nuevo usuario
      p
        label(for="name") Nombre
        input(type="text",class="input-text",name="name",placeholder="El nombre")
      p
        label(for="email") email
        input(type="email",class="input-text",name="email",placeholder=" email")
      p
        label(for="username") usuario
        input(type="text",class="input-text",name="username",placeholder="el nombre de usuario")
      button(type="submit",value="Guardar",class="alter button radius") Guardar
      button(type="cancel",value="Cancelar",class="white button radius") Cancelar

script(type="text/javascript")
  $(document).ready(function () {
    function activateTab($tab) {
      var $activeTab = $tab.closest('dl').find('a.active'),
          contentLocation = $tab.attr("href");
      $activeTab.removeClass('active');
      $tab.addClass('active');
      var html = marked(document.getElementsByName('contenido')[0].value);
      $('#rpreview').html(html);
      $(contentLocation).closest('.tabs-content').children('li').hide();
      $(contentLocation).show();
    }
    $('dl.tabs').each(function () {
      var tabs = $(this).children('dd').children('a');
      tabs.click(function (e) {
        e.preventDefault();
        activateTab($(this));
      });
    });
    if (window.location.hash) {
      activateTab($('a[href="' + window.location.hash + '"]'));
    }
    $(".alert-box").delegate("a.close", "click", function(event) {
      event.preventDefault();
      $(this).closest(".alert-box").fadeOut(function(event){
        $(this).remove();
      });
    });
    try {$('input, textarea').placeholder();}catch(exc){}
    var currentFoundationDropdown = null;
    $('.nav-bar li a, .nav-bar li a:after').each(function() {
      $(this).data('clicks', 0);
    });
    $('.nav-bar li a, .nav-bar li a:after').live('click', function(e) {
      e.preventDefault();
      if (currentFoundationDropdown !== $(this).index() || currentFoundationDropdown === null) {
        $(this).data('clicks', 0);
        currentFoundationDropdown = $(this).index();
      }
      $(this).data('clicks', ($(this).data('clicks') + 1));
      var f = $(this).siblings('.flyout');
      if (!f.is(':visible') && $(this).parent('.has-flyout').length > 1) {
        $('.nav-bar li .flyout').hide();
        f.show();
      } else if (($(this).data('clicks') > 1) || ($(this).parent('.has-flyout').length < 1)) {
        window.location = $(this).attr('href');
      }
    });
    $('.nav-bar').live('click', function(e) {
      e.stopPropagation();
      if ($(e.target).parents().is('.flyout') || $(e.target).is('.flyout')) {
        e.preventDefault();
      }
    });
  });
