
- posts.forEach(function(post){
  article
    nav.article
    header
      time(datetime=new Date(post.date.now), pubdate='#{post.date.now}')
        span.day #{post.date.day}-
        span.month #{post.date.month}-
        span.year #{post.date.year}  
        span.views  | Views: #{post.views}  
        span.up  | Up: #{post.up}
        span.down  | Down: #{post.down}
      h1.entry-title
        a(href='/' + post.id) #{post.title}
    .entry-content!= post.description
    div
      p.meta
        | Este post fue escrito por
        a(href=post.author.contact) #{post.author.name}  
        | en
        span.categories
        - try {
          - post.tags.forEach(function(tag){
              a.category(href='/tag/'+ tag.trim()) #{tag} 
              - if (post.tags.length > 1 && (post.tags.length -1) !== post.tags.indexOf(tag)) 
                | ,
          - });
        - } catch (exc){
          a.category(href='/tag/') sin tags
        - }
      hr
- });
